/* body {
  margin: 0px;
}
.center {
   margin-left: auto;
  margin-right: auto;
  margin: 40px;
}
.topbar {
  overflow: hidden;
  background: #c8cbd0;
  box-shadow: 0px 4px 0 0 #4d5259;
}

.topbar a {
  background: #748e54;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  box-shadow: 4px 0px 0 0 #54673c;
}

.topbar a:hover {
  background-color: #92ac72;
  color: black;
}

.topbar a.active {
  background-color: #4caf50;
  color: white;
}

.round {
  font-size: 12px;
  color: #4d5259;
  line-height: 1.5;
  font-weight: bold;
  padding: 0.5em 2em;
  background: #ffffff;
  border: 2px solid #4d5259;
  box-shadow: 4px 4px 0 0 #4d5259;
  border-radius: 100px;
  outline: 0;
  transition: ease all 0.1s;
}
.round:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4d5259;
}
.round:hover {
  background: #d3d3d3;
}

.settings {
  font-size: 10px;
  color: #4d5259;
  line-height: 1.5;
  font-weight: bold;
  padding: 0.5em 2em;
  background: #ffffff;
  border: 2px solid #4d5259;
  box-shadow: 4px 4px 0 0 #4d5259;
  outline: 0;
}

.settings:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4d5259;
}
.settings:hover {
  background: #d3d3d3;
} */
